{% extends 'base.html' %}


{% block content %}
	

	
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'index' %}">Anasayfa</a></li>
									<li class="breadcrumb-item active" aria-current="page">Şifre Değiştir</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Şifre Değiştir</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						

							{% include 'profile-sidebar.html' %}

							
				
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-6">
										
											<!-- Change Password Form -->
											<form action="{% url 'changePasswordPatient' %}" method="POST">
												{% csrf_token %}
													
											 <!-- {% if messages %}
												<ul class="messages">
													{% for message in messages %}
				
													{% if message.tags == "error" %}
													<div class="alert alert-danger" role="alert">
				
				
														<center><strong>{{message}}</strong></center>
													</div>
													{% else %}
													<div class="alert alert-success" role="alert">
				
														<center><strong>{{message}}</strong></center>
													</div>
													{% endif %}
				
				
				
													{% endfor %}
												</ul>
												{% endif %}
												 -->
											

											{% if form.errors %}
												 {% for field in form %}
													 {% for error in field.errors %}
													 <div class="alert alert-danger">
														 <center><strong>{{ error|escape }}</strong></center>
													 </div>
													 {% endfor %}
												 {% endfor %}
												 {% for error in form.non_field_errors %}
													 <div class="alert alert-danger">
														 <center><strong>{{ error|escape }}</strong></center>
													 </div>
												 {% endfor %}
									 
											 {% endif %} 
											

				
												<br>
												<!-- {{form.as_p}} -->


												<div class="form-group">
													<label>Eski Şifre</label>
													<input type="password" name="old_password" class="form-control">
												</div>
												<div class="form-group">
													<label>Yeni Şifre</label>
													<input type="password" name="new_password1" class="form-control">
												</div>
												<div class="form-group">
													<label>Yeni Şifre Tekrar</label>
													<input type="password" name="new_password2" class="form-control">
												</div>
												<ul>
													<li>Parolanız diğer kişisel bilgileriniz ile çok benzer olamaz.</li>
													<li>Parolanız en az 8 karakter içermek zorundadır.</li>
													<li>Parolanız yaygın olarak kullanılan bir parola olamaz.</li>
													<li>Parolanız tamamıyla sayısal olamaz.</li>
												</ul>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">Kaydet</button>
												</div>
												
											</form>
											<!-- /Change Password Form -->
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			{% endblock content %}