{% extends 'base.html' %}

{% load static %}





{% if meta_data %}
{% block title %}
<title>{{meta_data.meta_title}}</title>
{% endblock title %}



{% block description %}
<meta name="description" content="{{meta_data.meta_description}}">
{% endblock description %}


{% block keywords %}
<meta name="keywords" content="{{meta_data.meta_keywords}}">
{% endblock keywords %}

{% endif %}


{% block content %}


{{ whichPageforCity|json_script:"whichPageforCity" }}

<!-- Home Banner -->
<section class="section section-search">
	<div class="container-fluid">
		<div class="banner-wrapper">
			<div class="banner-header text-center">
				<h1>{{banner.top_title}}</h1>
				<p>{{banner.bottom_title}}</p>
			</div>

			<!-- Search -->

			<div class="search-box">
				<center>
					<form style="padding-right: 5%;" id="findDoctorsForm" method="post" action="{% url 'searchFilter' %}">
						{% csrf_token %}

						<!-- <div class="form-group" style="width: 20% !important;">
							<select name="il" class="form-control" >
								<option value="0">Branş Seçiniz</option>
							</select>
							<span class="form-text">İstediğiniz alanda psikolog sıralayın</span>
						</div> -->
						<div class="form-group search-location">
							<!-- <input type="text" class="form-control" placeholder="Search Location"> -->
							<select name="il" class="form-control" id="Iller">
								<option value="0">Lütfen Bir İl Seçiniz</option>
							</select>
							<span class="form-text">Konumuza göre arama yapın</span>
						</div>
						<div class="form-group search-info">
							<!-- <input type="text" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc"> -->
							<select name="ilce" class="form-control" id="Ilceler" disabled="disabled">
								<option value="0">Lütfen Önce bir İl seçiniz</option>
							</select>
							<span class="form-text">Size uygun doktoru bulun</span>
						</div>
						<input type="hidden" name="cityName" value="" id="cityName">
						<input type="hidden" name="indexPage" value="index" id="cityName">
						<button type="submit" onclick="changeCityName();" id="findDoctorsButton"
							class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Ara</span></button>

					</form>
				</center>

			</div>

			<!-- /Search -->

		</div>
	</div>
</section>
<!-- /Home Banner -->






<!-- Clinic and Specialities -->
<section class="section section-specialities">
	<div class="container-fluid">
		<div class="section-header text-center">
			<h2>{{alanyazi.top_title}}</h2>
			<p class="sub-title">{{alanyazi.bottom_title}}</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-9">
				<!-- Slider -->
				<div class="specialities-slider slider">



					{% if alanlar %}

					{% for alan in alanlar %}

					<!-- Slider Item -->
					<div class="speicality-item text-center">
						<div class="speicality-img">
							<a href="arama-filtreleme?alan={{alan.name}}"><img src="{{alan.image.url}}"
									class="img-fluid" alt="Speciality"></a>
							<span><i class="fa fa-circle" aria-hidden="true"></i></span>
						</div>
						<p>{{alan.name}}</p>
					</div>
					<!-- /Slider Item -->

					{% endfor %}
					{% endif %}





				</div>
				<!-- /Slider -->

			</div>
		</div>
	</div>
</section>
<!-- Clinic and Specialities -->






<!-- Popular Section -->
<section class="section section-doctor">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">

				{% if aciklamaYazisi %}
				<div class="section-header ">
					<h2>{{aciklamaYazisi.top_title}}</h2>
					<p>{{aciklamaYazisi.bottom_title}} </p>
				</div>
				<div class="about-content">
					<p>{{aciklamaYazisi.yazi|safe|truncatechars:360}}</p>
					<a href="{% url 'showAciklamaYazisi' %}">Daha Fazla Oku..</a>&emsp;
					<a href="{% url 'showAllDoctors' %}">Tüm Doktorlar</a>
				</div>
				{% endif %}

			</div>
			<div class="col-lg-8">
				<div class="doctor-slider slider">



					{% if doctors %}

					{% for doctor in doctors %}

					<!-- Doctor Widget -->
					<div class="profile-widget">
						<div class="doc-img">
							<a href="{% url 'showDoctorProfile' doctor.slug %}">
								<img class="img-fluid" alt="User Image" src="{{doctor.image.url}}">
							</a>


							{% if request.user.is_patient %}
							{% if doctor.pk in favorite_list %}

							<a style="background-color: red;" href="
														{% if request.user.is_authenticated %}
															{% url 'addDoctorToFavorites' doctor.slug %}
														{% else %}
														{% url 'login' %}
														{% endif %}
															" class="fav-btn">
								<i class="far fa-bookmark"></i>
							</a>



							{% else %}
							<a style="background-color: green;" href="
											  {% if request.user.is_authenticated %}
												  {% url 'addDoctorToFavorites' doctor.slug %}
											  {% else %}
											  {% url 'login' %}
											  {% endif %}
												  " class="fav-btn">
								<i class="far fa-bookmark"></i>
							</a>
							{% endif %}
							{% endif %}




						</div>
						<div class="pro-content">
							<h3 class="title">
								<a href="{% url 'showDoctorProfile' doctor.slug %}">{{doctor.unvan}}
									{{doctor.get_full_name}}</a>
								<i class="fas fa-check-circle verified"></i>
							</h3>
							<p class="speciality">{{doctor.define_profession}}</p>
							<div class="rating">

								{% if doctor.average_star != 0 %}
								{% for i in doctor.average_star|rjust:doctor.average_star %}
								<i class="fas fa-star filled"></i>
								{% endfor %}
								{% endif %}
								{% if doctor.none_average_star != 0 %}
								{% for i in doctor.none_average_star|rjust:doctor.none_average_star %}
								<i class="fas fa-star"></i>
								{% endfor %}
								{% endif %}
								<span class="d-inline-block average-rating">({{doctor.countOfPublishedComments}})</span>
							</div>
							<ul class="available-info">
								<li>
									<i class="fas fa-map-marker-alt"></i> {% if doctor.city or doctor.country %}
									{{doctor.city}}, {{doctor.country}}
									{% else %}
									Konum Belirtilmemiş
									{% endif %}
								</li>
								<li>
									<i class="far fa-clock"></i> {{doctor.get_available_date}}
								</li>
								<li>
									<i class="far fa-money-bill-alt"></i>
									{% if doctor.is_free %}
									Ücretsiz
									{% else %}
									{{doctor.custom_price }} ₺ ({{doctor.appointment_minute }} dakika)
									{% endif %}

									<!-- <i class="fas fa-info-circle" data-toggle="tooltip" title="Seans Ücreti"></i> -->
								</li>
							</ul>
							<div class="row row-sm">
								<div class="col-6">
									<a href="{% url 'showDoctorProfile' doctor.slug %}" class="btn view-btn">Profile
										Bak</a>
								</div>
								<div class="col-6">
									<a href="
													{% if request.user.is_authenticated %}
														{% url 'booking' doctor.slug %}
													{% else %}
														{% url 'login' %}	
													{% endif %}
														" class="btn book-btn">Randevu Al</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
					{% endfor %}

					{% endif %}







				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Popular Section -->

<!-- Availabe Features -->
<section class="section section-features">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 features-img">
				<img src="{{featureDoctor.image.url}}" class="img-fluid" alt="Feature">
			</div>
			<div class="col-md-8">
				<div class="section-header">
					<h2 class="mt-2">{{featureDoctor.top_title}}</h2>
					<p>{{featureDoctor.yazi|safe}}</p>
				</div>
				<div class="features-slider slider">




					{% for feature in allFeatures %}
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="{{feature.image.url}}" class="img-fluid" alt="Feature">
						<p>{{feature.name}}</p>
					</div>
					<!-- /Slider Item -->

					{% endfor %}






				</div>
			</div>
		</div>
	</div>
</section>
<!-- Availabe Features -->





{% endblock content %}