
			{% extends 'base.html' %}

			
			{% block content %}
				
	
				
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'index' %}">Anasayfa</a></li>
									<li class="breadcrumb-item active" aria-current="page">Sosyal Medya</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Sosyal Medya</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							{% include 'doctor-profile-sidebar.html' %}		
							
						</div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
								
									<!-- Social Form -->
									<form action="{% url 'updateSocialMediaDoctor' %}" method="POST">       
										{% csrf_token %}


											
								{% if messages %}
								<ul class="messages">
									{% for message in messages %}
						
									{% if message.tags == "error" %}
									<div class="alert alert-danger" role="alert">
										
										
										<center><strong>{{message}}</strong></center>
									</div>
									{% else %}
									<div class="alert alert-success" role="alert">
						
										<center><strong>{{message}}</strong></center>
									</div>
									{% endif %}
						
						
						
									{% endfor %}
								</ul>
								{% endif %}



										<!-- {{form.as_p}}         -->
										{% for field in form.visible_fields %}
										<div class="row">
											<div class="col-md-12 col-lg-8">
												<div class="form-group">
													{{ field.label_tag }}
													{{ field }}
												</div>
											</div>
										</div>
											
										
											<!-- {{ field.errors }}
											{{ field }}
											{{ field.help_text }}
											 -->
										
										{% endfor %}    

										<!-- <div class="row">
											<div class="col-md-12 col-lg-8">
												<div class="form-group">
													<label>Facebook URL</label>
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-lg-8">
												<div class="form-group">
													<label>Twitter URL</label>
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-lg-8">
												<div class="form-group">
													<label>Instagram URL</label>
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-lg-8">
												<div class="form-group">
													<label>Pinterest URL</label>
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-lg-8">
												<div class="form-group">
													<label>Linkedin URL</label>
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-lg-8">
												<div class="form-group">
													<label>Youtube URL</label>
													<input type="text" class="form-control">
												</div>
											</div>
										</div> -->
										<div class="submit-section">
											<button type="submit" class="btn btn-primary submit-btn">Değişiklikleri Kaydet</button>
										</div>
									</form>
									<!-- /Social Form -->
									
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			{% endblock content %}